@import "../../../../public/css/variables";
@import "../../../../public/css/mixins";

body.wp-admin {
	.pwca-admin-orders-production-pdf {
		display: flex;
		gap: 8px;
		align-items: center;
		margin-top: 10px;

		.spinner {
			float: none;
			margin: 0;
		}

		&__status {
			color: #1d2327;
		}
	}
}
