.product-options {
    margin-top: 20px;

    &__checkboxes {
        display: flex;
        gap: 20px;
        align-items: center;
    }

    &__label {
        display: flex;
        align-items: center;
        gap: 5px;
        cursor: pointer;

        input[type="checkbox"] {
            margin: 0;
        }
    }

    hr {
        margin: 15px 0;
    }
}