@import 'variables';
@import 'mixins';
body.woocommerce-cart main .woocommerce {
    max-width: 1240px;
}
td.product-price {
    .woocommerce-Price-amount {
        display: block;
    }
}
td.product-subtotal {
    .woocommerce-Price-amount {
        display: block;
    }
    .pwca-discount-hint {
        display: block;
    }
}
td.product-name {
    
    .variation {
        dd {
            p {
                margin: 0;
            }
        }
       
    }
}
dd.variation-Color {
    display: flex;
    align-items: center;
}

